/* font-family: 'Seaweed Script', cursive; */

nav {
    background-color: #E588A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #be6481;
    box-shadow: 3px 3px #be6481;
}

#brand-title {
    font-family: 'Seaweed Script', cursive;
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
}

.nav-link {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: auto;
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

